[project]
	description = Jekyll / Octopress plugin to generate PlantUML diagrams
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/YJ Park (yjpark)
[access "refs/for/refs/*"]
	read = group user/YJ Park (yjpark)
	push = group user/YJ Park (yjpark)
	label-Code-Review = -2..+2 group user/YJ Park (yjpark)
	label-Verified = -1..+1 group user/YJ Park (yjpark)
	rebase = group user/YJ Park (yjpark)
	removeReviewer = group user/YJ Park (yjpark)
	submit = group user/YJ Park (yjpark)
[access "refs/heads/*"]
	read = group user/YJ Park (yjpark)
	create = group user/YJ Park (yjpark)
	push = +force group user/YJ Park (yjpark)
	pushMerge = group user/YJ Park (yjpark)
[access "refs/tags/*"]
	push = +force group user/YJ Park (yjpark)
	pushTag = group user/YJ Park (yjpark)
	pushSignedTag = group user/YJ Park (yjpark)
